{% extends "layout.html" %}
{% block title %}Location search{% endblock %}
{% block content %}
    {% include "meta/search_form.html" %}
    <section>
        <h1>Locations</h1>
        <table>
            <tr class="headrow">
                <th class="borderleft">Primary ID</th>
                <th>Group IDs</th>
                <th>{{ lc.get_term("operator") }}</th>
                <th>{{ lc.get_term("category") }}</th>
                <th class="borderleft borderright">{{ lc.get_term("name_full") }}</th>
            </tr>
            {% for location in locations %}
            <tr>
                <td class="tiploc borderleft">
                    <span class="microlinks"><span class="microlink"><a href="/location/{{location.tiploc}}/arrivals">←</a></span><span class="microlink"><a href="/location/{{location.tiploc}}">.</a></span><span class="microlink"><a href="/location/{{location.tiploc}}/departures">→</a></span></span>
                    {{location.tiploc}}
                </td>
                <td class="crs">
                    <span class="microlinks"><span class="microlink"><a href="/location/{{location.crs_darwin}}/arrivals">←</a></span><span class="microlink"><a href="/location/{{location.crs_darwin}}/departures">→</a></span></span>
                    {{ location.crs_darwin or '' }}</td>
                <td class="operator">{{ location.operator or '' }}</td>
                <td class="loc_category">{{ location.category or '' }} </td>
                <td class="origin borderleft borderright">{{ location.name_full or '' }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
