{% extends "layout.html" %}
{% block title %}{{location}} services on {{time.isoformat()}}{% endblock %}
{% block content %}
        {%- if board["messages"] -%}
            <section>
                <h1>Darwin messages</h1>
                {%- for message in board["messages"] -%}
                <p class="note">
                <span class="notehead"><span class="normal">{{message["category"].ljust(11)}}</span> category message, severity <span class="normal">{{message["severity"]}}</span></span>
                {{ message["message"] |safe}}
                </p>
                {%- endfor -%}
            </section>
        {%- endif -%}
            <section>
                <h1>Locations</h1>
                <table>
                    <tr class="headrow">
                        <th class="borderleft">TIPLOC</th>
                        <th>Category</th>
                        <th>CRS</th>
                        <th class="borderright">Name</th>
                    </tr>
                    {% for location in board["locations"].values() %}
                    <tr class="{{ "cancelled "*(location["location_category"]=="Z")}}">
                        <td class="tiploc borderleft">{{ location["tiploc"] }}</td>
                        <td class="loc_category">{{ location["location_category"] }}</td>
                        <td class="crs">{{ location["crs_darwin"] or '' }}</td>
                        <td class="locname borderright">{{ location["name_full"] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </section>
            <section>
                <h1>Services</h1>
            <table class="collapse">
                <tr class="headrow horizontal-only">
                    <th colspan="3" class="headgroup"></th>
                    <th colspan="3" class="headgroup">WTT</th>
                    <th colspan="3" class="headgroup">Darwin</th>
                    <th colspan="6" class="headgroup"></th>
                </tr>
                <tr class="headrow row-overflow">
                    <th class="borderleft">TIPLOC</th>
                    <th class="borderleft borderright">Pl</th>
                    <th class="borderleft borderright">Activity</th>

                    <th class="borderleft">Arr.</th>
                    <th>Pass</th>
                    <th class="borderright">Dep.</th>

                    <th class="borderleft">Arr.</th>
                    <th class="">Pass</th>
                    <th class="borderright">Dep.</th>

                    <th>UID</th>
                    <th>Head</th>

                    <th class="borderleft">Category</th>
                    <th class="borderright">Operator</th>

                    <th class="borderleft">Origins</th>
                    <th class="borderright">Destinations</th>
                </tr>
            {%- for schedule in board["services"] -%}
                <tr class="primaryrow {{ "pass" if schedule["here"]["times"]["pass"] else ""}} {{ "as-required" if "Q" in "" else "" }}{{" cancelled"*schedule["here"]["cancelled"] }}">
                    <td data-title="tip" class="tiploc borderleft">{{ schedule["here"]["tiploc"] }}</td>
                    <td data-title="pt." class="platform borderleft borderright"> {{ ((schedule["here"]["platform"].get("suppressed",False) or False)*"*" or ' ') + (schedule["here"]["platform"].get("platform") or "") + ((schedule["here"]["platform"].get("confirmed",False) or False)*"." or "")}}</td>
                    <td data-title="act" class="activities borderleft borderright">{{ schedule["here"]["activity"] }}</td>

                    <td class="flex-break"></td>
                    <td data-title="a" class="time sched borderleft">{{format_time(schedule["here"], "aw")}}</td>
                    <td data-title="p" class="time sched">{{ format_time(schedule["here"], "pw")}}</td>
                    <td data-title="d" class="time sched borderright">{{ format_time(schedule["here"], "dw") }}</td>
                    <td data-title="a" class="time borderleft">{{  format_time(schedule["here"], "a.") }}</td>
                    <td data-title="p" class="time">{{             format_time(schedule["here"], "p.") }}</td>
                    <td data-title="d" class="time borderright">{{ format_time(schedule["here"], "d.") }}</td>
                    <td class="flex-break"></td>

                    <td data-title="uid"  class="uid borderleft"><a href="/s/{{schedule["rid"]}}">{{ schedule["uid"] }}</a></td>
                    <td data-title="head">{{ schedule["signalling_id"] or '' }}</td>
                    <td data-title="cat.">{{ schedule["category"] }}</td>
                    <td data-title="op.">{{ schedule["operator"] }}</td>
                    <td class="flex-break"></td>

                    <td class="origin borderleft">
                        <ul class="associations">
                            {%- for origin in schedule["origins"] -%}
                                    <li class="{{origin["source"]}} {{"cancelled" if origin["cancelled"] else ''}}">{{origin["name_full"]}}</li>
                            {%- endfor -%}
                        </ul>

                    </td>
                    <td class="destination borderright">
                        <ul class="associations">
                            {%- for destination in schedule["destinations"] -%}
                                    <li class="{{destination["source"]}} {{"cancelled" if destination["cancelled"] else ''}}"><a href="/d/{{destination["tiploc"]}}">{{destination["name_full"]}}</a></li>
                            {%- endfor -%}
                        </ul>
                    </td>
                </tr>
            {%- endfor -%}
            </table>
            </section>
{% endblock %}
